:root {
    --company-color: rgb(31, 96, 164);
    --light-gray: rgb(243, 243, 243);
    --gray: rgb(220, 220, 220);
}

.company-color {
    color: var(--company-color);
}

.white {
    color: #fff;
}

.light-gray {
    color: var(--light-gray);
}

.gray {
    color: var(--gray);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

@media screen and (max-width: 700px) {
    html {
        font-size: 17px;
    }
}

body {
    background-color: var(--light-gray);
}

a {
    text-decoration: none;
}

@media only screen and (max-device-width: 1366px) {
    #header {
        background-attachment: scroll;
    }
}

/* https: //www.w3schools.com/howto/howto_css_parallax.asp */
#header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    
    background-size: cover;
    background-image:
            linear-gradient(to bottom, rgba(4, 4, 4, 0.72), rgba(31, 96, 164, 0.73)),
            url(../images/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

#header > .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.company-logo img {
    max-width: 50%;
}

.company-logo-black {
    display: none;
}

.header-menu ul {
    display: flex;
    list-style: none;
    font-size: 1rem;
}

#hamburger-checkbox {
    display: none;
}

.header-menu ul li {
    padding: 8px 12px;
}

.header-menu ul li a {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    transition: color 0.25s ease;
}

.header-menu ul li a:hover {
    color: var(--company-color);
}

.header-menu ul li a i {
    font-size: 1.25rem;
}

#hamburger-label {
    z-index: 3;
}

@media screen and (max-width: 1000px) {
    .company-logo-black {
        display: block;
    }

    .company-logo-color {
        display: none;
    }

    .company-logo img {
        max-width: 60%;
    }

    .header-nav {
        background-color: #fff;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    .welcome-text-box {
        margin-top: 5%;
    }

    .header-menu {
        z-index: 2;
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        top: 100%;
        justify-content: center;
    }

    .header-menu ul {
        flex-direction: column;
        padding-bottom: 5%;
    }

    .header-menu ul li:not(:last-child) {
        border-bottom: 1px solid var(--light-gray);
    }

    .header-menu ul li a {
        flex-direction: row;
        column-gap: 10px;
        font-size: 1.1em;
        color: gray;
    }

    #hamburger-label::after {
        cursor: pointer;
        font: var(--fa-font-solid);
        content: "\f0c9";
        font-size: 1.25rem;
    }

    #hamburger-checkbox:checked + #hamburger-label::after {
        content: "\f00d";
        color: var(--company-color);
    }

    #hamburger-checkbox:checked ~ .header-menu {
        display: flex;
    }
}

.welcome-text-box {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.welcome-text-box h1 {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.welcome-text-box p {
    color: #fff;
}

.contact-button {
    font-weight: bold;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 40px;
    transition: all 0.5s ease-in-out;
}

.contact-button:hover {
    background-color: #fff;
    color: var(--company-color);
}

#about-us {
    padding-top: 5%;
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
    min-height: 0;
}

#about-us h1 {
    font-size: 2rem;
    color: var(--company-color);
}

#about-us > p {
    width: 75%;
    margin: auto;
}

.about-us-boxes {
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 800px) {
    .about-us-boxes {
        flex-direction: column;
    }
}

.about-us-box {
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.9rem;
    transition: box-shadow 0.25s ease-in-out;
    height: 100%;
}

.about-us-box p {
    color: gray; /* do zmiany */
    font-size: 0.8rem;
}

.about-us-box h3 {
    font-size: 0.9rem;
}

.about-us-icon {
    color: var(--company-color);
    font-size: 3rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
}

#gallery {
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    
    background-size: cover;
    background-image:
            linear-gradient(to bottom, rgba(4, 4, 4, 0.72), rgba(31, 96, 164, 0.73)),
            url(../images/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.gallery-content {
    width: 80%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #fff;
}

.gallery-content h1 {
    font-size: 2rem;
}

.gallery-content > p {
    width: 75%;
    margin: auto;
}

.gallery-container {
    position: relative;
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

@media screen and (max-width: 450px) {
    /* ~450px, bo trzeba doliczyć odstępy z obu stron */
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.gallery-container .image-box {
    overflow: hidden;
}

.gallery-container .image-box img {
    filter: grayscale(1);
    transition: all 0.2s linear;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-container .image-box:hover img {
    transform: scale(1.025);
    filter: grayscale(0);
}

#team {
    position: relative;
    padding-top: 5%;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
}

#team h1 {
    font-size: 2rem;
    color: var(--company-color);
}

#contact {
    padding-top: 5%;
    position: relative;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-bottom: 5%;
}

#contact h1 {
    font-size: 2rem;
    color: var(--company-color);
}

#contact p {
    width: 75%;
    margin: auto;
}

.separator {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}

.contact-boxes-flexbox {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .contact-boxes-flexbox {
        padding-top: 20px;
        flex-direction: column;
        align-items: baseline;
        row-gap: 20px;
    }
}

.contact-box {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

.contact-box .left .icon-border {
    border: 1px solid var(--gray);
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-box .left i {
    font-size: 2rem;
}

.contact-box .right {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.contact-box .right > h3 {
    font-size: 0.9rem;
    color: var(--company-color);
}

.contact-box .right > span {
    font-size: 0.8rem;
    color: gray;
}

.contact-flexbox {
    padding-top: 2.5%;
    display: flex;
    height: 500px;
    column-gap: 30px;
}

.map-box,
.form-box {
    flex: 1;
}

.map-box .contact-map {
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray);
}

.form-box form {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 10px;
}

.form-box form input,
.form-box form textarea {
    background-color: transparent;
    padding: 20px;
    border: 1px solid var(--gray);
    transition: border 0.25s ease;
}

.form-box form textarea {
    flex: 1;
    resize: none;
    font-family: "Lato", sans-serif;
}

.form-box input:focus,
.form-box textarea:focus {
    color: #000;
    border: 1px solid var(--company-color);
}

.form-box form button {
    background-color: var(--company-color);
    border: 1px solid var(--company-color);
    font-size: 0.8rem;
    color: #fff;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.form-box form button:hover {
    background-color: var(--light-gray);
    color: var(--company-color);
}

@media screen and (max-width: 1000px) {
    .contact-flexbox {
        margin-top: 30px;
        flex-direction: column;
        row-gap: 30px;
        height: 700px;
    }
}

input,
textarea,
select {
    outline: none;
}

.fa-gradient {
    background: linear-gradient(to bottom, #297bd3, rgb(2, 79, 137));
    -webkit-background-clip: text;
    color: transparent;
}